.button{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:2% 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:rgba(38, 230, 255, 0.897);
    text-align:center;
    transition: all 0.15s;
    background-color: black;
    border-color:rgba(38, 230, 255, 0.897);
       }
    .button:hover{
    color: rgb(4, 76, 124);
    border-color:rgb(4, 76, 124);
    border-radius: 8px;
    background-color:rgba(38, 230, 255, 0.897);
    }
    .button:active{
        color:black;
        border-color:#BBBBBB;
        
        
    }
    .button_maze{
      color: rgb(4, 76, 124);
      border-color:rgb(4, 76, 124);
      border-radius: 8px;
      background-color:rgba(38, 230, 255, 0.897);
      }
      .button_info{
        border-radius: 100%;
        padding:0.5em 0;
        border:0.16em solid #FFFFFF;
       width: 35px;
       height: 35px;
       
        }