

.button{
    font-size: 12px;
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:2% 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:rgba(38, 230, 255, 0.897);
    text-align:center;
    transition: all 0.15s;
    background-color: black;
    border-color:rgba(38, 230, 255, 0.897);
       }
    .button:hover{
    color: rgb(4, 76, 124);
    border-color:rgb(4, 76, 124);
    border-radius: 8px;
    background-color:rgba(38, 230, 255, 0.897);
    }
    .button:active{
        color:black;
        border-color:#BBBBBB;
        
        
    }
    .button_maze{
      color: rgb(4, 76, 124);
      border-color:rgb(4, 76, 124);
      border-radius: 8px;
      background-color:rgba(38, 230, 255, 0.897);
      }
      .button_info{
        border-radius: 100%;
        padding:0.5em 0;
        border:0.16em solid #FFFFFF;
       width: 35px;
       height: 35px;
       
        }
        @media all and (max-width:30em){
             .button{
            display:block;
            margin:0.4em auto;}}
    
            .modal1 {
    
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
              }
    
              .modal_content1{
                background-color: rgb(0, 0, 0);
                position: absolute;
                top: 20%;
                left: 30%;
                width: 40%;
                padding: 20px;
                border-radius: 10px;
                border: 2px solid black;
                color: rgba(38, 230, 255, 0.897);
                font-style: oblique;
                font-size: 12px;
              }
    
              .close {
                color: rgb(91, 203, 211);
                font-size: 25px;
                float: right;
              }
    
              .close:hover {
                color: cyan;
                cursor: pointer;
              }