.grid {
   width:550px;
  display:block;
  margin-left:auto;
  margin-right:auto;
   
    
}
.grid-row {
  
    margin: -3px;
    
}
.uyr{
    text-align: center;
}
.button{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:black;
    text-align:center;
    transition: all 0.15s;
    background-color: #FFFFFF;
    border-color:black;
       }
    .button:hover{
    color: white;
    border-color:white;
    border-radius: 5px;
    background-color:rgb(86, 151, 153);
    }
    .button:active{
        color:black;
        border-color:#BBBBBB;
    }
    @media all and (max-width:30em){
         .button{
        display:block;
        margin:0.4em auto;}}