
.grid {
 
  
  display:block;
  color: white;
  padding:0px;

  clear:none;
  height:auto;
  background-color: rgb(0, 0, 0); 
  position:absolute;
  left:50%;
  top:55%;
  
  transform: translate(-50%,-50%);
  
  
  background-color: rgb(0, 0, 0);
 
  
    
}

.box{
  margin: 0px;
  padding: 0px;
  

  
   
}

