
.node {
    width: 2.9em;
    height: 2.9em;
    display:inline-flex;
    margin:.1em;
    padding-left: 0em;
    border-radius:50%;
    border: .2em solid rgba(38, 230, 255, 0.897);
    background-color:black;
    font-size: .35em;
    float:left;
    clear:none;

    
}
@media screen and (min-width: 1080px)  {
    .node {
        width: 2.75em;
        height: 2.75em;
        font-size: .37em;
    }
  }
  @media screen and (max-width: 600px) {
    .node {
        width: 5em;
        height: 5em;
        font-size: .36em;
    }
    
  }
@keyframes pulse {
    0% {
        outline: .5px solid rgba(38, 230, 255, 0.897); 
    }
    100% {
        outline: 2px solid rgba(158, 239, 250, 0.897);  
    }
}
.node:hover{

    background-color: rgb(178, 196, 207);
    outline: .5px solid rgba(38, 230, 255, 0.897);

}

.startNode {
    
    display: inline-block;
    background: rgb(29, 247, 0);
    border:transparent;
    margin:.2em;
   outline:.4em solid white;

    animation: 
    pulse-start
    .5s
    ease-in
    0s
    alternate
    1
    none
    running;
}
@keyframes pulse-start {
    0% {
        outline-color: transparent; 
        background-color: transparent
       
       
    }
    50%{
        outline-color:rgba(255, 253, 253, 0.897); 
        
       background-color: aliceblue;
       
    }
    100% {
        outline-color: transparent;  
      
    }
    
}
.wallNode {
   
    border-radius: 0%;
    outline: .4em solid rgba(255, 253, 253, 0.815);
    display: inline-block;
    background:rgb(145, 142, 142);
    animation: 
pulse-start
.5s
ease-in-out
0s
alternate
1
none
running;
    
    
}
.weightNode {
    width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 17px solid rgb(214, 67, 233);
    border-radius: 0%;
    outline: .5px solid transparent;
    display:inline-block;
    background:transparent;
}
.goalNode {
    border:transparent;
    margin:.2em;
   outline:.4em solid white;
    display: inline-block;
    background: rgb(240, 2, 2);
    animation: 
pulse-start
.5s
ease-in
0s
alternate
1
none
running;
}
.progressPathNode{
   
    display: inline-block;
    border-radius: 3px;
    opacity:1;
    
    animation: 
    pulse2
    1s
    ease-out
   0s
    alternate
    3
    none
    running;
   background-color: rgba(16, 85, 94, 0.897);;
}

@keyframes pulse2 {
    0% {
        outline-color: 1px solid rgb(0, 0, 0); 
        background-color: rgb(116, 233, 241);
        
    }
    50%{
        outline-color: 3px dotted rgba(38, 230, 255, 0.897); 
        
    }
    100% {
        /* outline: 3px solid rgba(17, 109, 121, 0.897);   */
        outline-color: 1px dotted rgba(0, 0, 0, 0.897);
       background-color: black;
    }
    
}
.pathNode {
   
    display: inline-block;
    border-radius: 50px;
    background: rgba(38, 230, 255, 0.897);
    outline: 2px solid;
    outline-color: transparent;
    
    animation: 
    pulse1
    1.5s
    ease-out
    0s
    alternate
    infinite
    none
    running;
    
}
@keyframes pulse1 {
    0% {
        outline-color: transparent; 
    }
    50%{
        outline: 4px solid rgba(228, 235, 236, 0.897); 
        outline-color:white;
    }
    100% {
        outline-color: transparent;  
    }
    
}