root {
 
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding:0px;
  height: auto;
  width:100vw;

  
}
body{
  background-color: rgb(0, 0, 0);
}